


<app-dialog>
  
  <table class="main-cart" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <mat-divider></mat-divider>
    <tbody *ngFor="let p of products">
      <tr>
          <td #t>{{p.name}}</td>
          <td>R$ {{ p.price | number: '1.2' }}</td>
          <button
            (click)="remove(t.innerHTML)"
            mat-icon-button>
            <mat-icon >delete</mat-icon>
          </button>
      </tr>
      <mat-divider></mat-divider>
    </tbody>
    <tfoot></tfoot>
  </table>
  
  
  <div class="btn-cart">
    <div>
      <button mat-raised-button routerLink="/carrinho"> See Cart</button>
      <button mat-raised-button (click)="empty()">Empty Cart</button>  
      <button mat-raised-button color="primary">Finish </button>
      <button mat-raised-button disabled > TOTAL: R$ {{getTotal}}</button>
    </div>
  </div>
</app-dialog>