<mat-toolbar color="primary" class="nav">

  <mat-toolbar-row>
    <span>{{title}}</span>
    <span class="spacer"></span>
    <mat-icon class="icon">edit</mat-icon>
    <mat-icon class="icon">exit_to_app</mat-icon> 
    <mat-icon class="icon">
      <span 
        mat-raised-button 
        (click)="openDialog()"
        matBadge="{{length?.length}}" matBadgePosition="before"
        matBadgeOverlap="false">
        shopping_cart
      </span>
    </mat-icon>
    
    <mat-icon
      (click)="openDialogWishList()" 
      class="icon">
      favorite
    </mat-icon>
    
    
    <button mat-icon-button [matMenuTriggerFor]="menu" >
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
      <button mat-menu-item>Item 2</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    

    
    
  </mat-toolbar-row>

</mat-toolbar>

