<app-dialog>
    <mat-list class="main-wishList" >
        <h3 mat-subheader>Wish List</h3>
            <mat-list-item class="rowItem" 
            *ngFor="let itemList of wishList"
            >
            
            <p mat-line>
                {{itemList.name}}
            </p>
            
            
                    
                    <button
                        #sBtn
                        mat-button
                        ChangeButtonDirective text="Remove from Cart"
                        (click)="action(itemList.name, itemList.price, $event.target.innerHTML)">
                        Add at Cart
                    </button>
    
                    
    
                    <button
                        (click)="removeFromWishList(itemList.name)"
                        mat-icon-button>
                        <mat-icon >delete</mat-icon>
                    </button>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</app-dialog>
