<app-dialog>
    <mat-list>
        <h3 mat-subheader>Wish List</h3>
        <div 
            class="rowItem" 
            *ngFor="let itemList of wishList">
            <mat-list-item>
                    {{itemList.name}}
            
                <button
                    mat-raised-button
                    changeForAdded text="Remove from Cart"
                    (click)="addAtCart(itemList.name, itemList.price)">
                    Add at Cart
                </button>

                

                <button
                    (click)="removeFromWishList(itemList.name)"
                    mat-icon-button>
                    <mat-icon >close</mat-icon>
                </button>

            <mat-divider></mat-divider>
        </mat-list-item>
        </div>
    </mat-list>
</app-dialog>
