table{
    width: 100%;
    margin-bottom: 1rem;
}
.btn-cart{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
}
th{
    font-weight: 700;
    text-transform: uppercase;
}
.btn-close{
    width: 10%;
    margin-left: auto;
}