<mat-grid-list class="card-main" cols="3" rowHeight="3:6" gutterSize="1.2rem">

  <mat-grid-tile *ngFor="let product of products">
    
    <mat-card class="product-card" tabindex="0" >
  
      <img mat-card-image src="{{product.img}}" alt="">
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-content>
        <p>
          R$ {{product.price}}
        </p>
        <p>{{product.parcel}} X de {{product.price - 20}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button>Buy</button>
        <button mat-button>Add at Cart</button>
      </mat-card-actions>
  
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>