<mat-grid-list class="card-main" cols="3" rowHeight="3:6" gutterSize="1.2rem">

  <mat-grid-tile *ngFor="let product of products">
    
    <mat-card class="product-card" tabindex="0" >
  
      <img mat-card-image src="{{product.img}}" alt="">
      <mat-card-title #message>{{product.name}}</mat-card-title>
      <mat-card-content>
        <p>
          R$ <span #action> {{product.price}}</span>
        </p>
        <p>{{product.parcel}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button>Buy</button>
        <button 
          mat-button 
          changeForAdded text="Adicionado" disa="true"
          (click)=" add(product.name, product.price);">
          Add at Cart</button>

          <button 
            mat-icon-button 
            matTooltip="Add to Wishlist"
            aria-label="Heart Icon click to add wish list"
            color="warn">
            <mat-icon (click)="openSnackBar(message.innerHTML, action.innerHTML)">
              favorite
            </mat-icon>
          </button>
      </mat-card-actions>
  
    </mat-card>
  </mat-grid-tile>
  </mat-grid-list>