@import '~@angular/material/_theming';

@import './theme/_pallete';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }


// @include mat-core();

$my-primary: mat-palette($c-pallete, 300);
$my-accent:  mat-palette($c-pallete);
$my-warn   : mat-palette($c-pallete, A700);

$mystore-theme: mat-light-theme($my-primary, $my-accent, $my-warn);

$primary: mat-color($my-primary);
$accent: mat-color($my-accent);
$warn: mat-color($my-warn);

@include angular-material-theme($mystore-theme);